* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

img,
video {
  width: 100%;
  height: auto;
  display: block;
}

@font-face {
  font-family: house;
  src: url("font/houseofmontaguedemo-webfont.woff");
  src: url("font/houseofmontaguedemo-webfont.woff2");
}

body {
  font-family: "Inter", sans-serif;
}

/* .scroll {
  animation: fade linear both;
  animation-timeline: view();
  animation-range-start: entry 50%;
  animation-range-end: cover 50%;
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
} */

/*-----------NAVIGATION-----------*/

/* Placering af header  */
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99;
  margin: 0 auto;
}

/* Kategorierne og logo skal være i hver deres ende */
header .container {
  padding: 10px 15px;
  display: flex;
  background: white;
  justify-content: space-between;
  align-items: center;
  margin: 10px 15px 0 15px;
  border-radius: 10px;
  border: lightgrey 1px solid;
}

/* Stil af navigations links */
header .container a {
  color: inherit;
  font-size: 20px;
  text-decoration: none;
}

nav {
  display: grid;
  grid-gap: 60px;
  grid-template-columns: repeat(2, auto);
  color: black;
}

nav a {
  color: black;
  font-size: 20px;
  text-decoration: none;
}

nav a:hover {
  text-decoration: underline;
}

@media (max-width: 767px) {
  nav {
    display: none;
  }
}

@media (max-width: 767px) {
  .container {
    padding-left: 30px;
    padding-right: 30px;
  }
}

.logo {
  font-family: house;
}

/* Position og stil af hamburger menu */
.hamburger {
  position: relative;
  display: block;
  width: 35px;
  cursor: pointer;
  appearance: none;
  background: none;
  outline: none;
  border: none;
  z-index: 100;
}

/* Stil af hamburger streger */
.hamburger .bar,
.hamburger:after,
.hamburger:before {
  content: "";
  display: block;
  width: 100%;
  height: 5px;
  background-color: black;
  margin: 6px 0px;
  transition: 0.4s;
  border-radius: 5px;
}

/* Hamburger streger som danner et kryds ved klik */
.hamburger.is-active:before {
  transform: rotate(-45deg) translate(-8px, 6px);
}

.hamburger.is-active:after {
  transform: rotate(45deg) translate(-9px, -8px);
}

.hamburger.is-active .bar {
  opacity: 0;
}

/* Side som slider ind ved klik på hamburger menu */
.mobile-nav {
  position: fixed;
  top: 0;
  left: 100%;
  width: 100%;
  min-height: 100vh;
  display: block;
  z-index: 98;
  background-color: white;
  padding-top: 120px;
  transition: 0.4s;
}

.mobile-nav.is-active {
  left: 0;
}

/* Stil af mobil navigation links */
.mobile-nav a {
  display: block;
  width: 100%;
  max-width: 200px;
  margin: 0 auto 16px;
  text-align: center;
  padding: 10px 10px;
  color: black;
  text-decoration: none;
  border-radius: 25px;
}

.mobile-nav a:hover {
  text-decoration: underline;
}

@media (min-width: 768px) {
  .mobile-nav {
    display: none;
  }

  .hamburger {
    display: none;
  }
}

/*-----------FORSIDE-----------*/

.hero_wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 70vh;
  padding: 0 5%;
}

.billede {
  position: absolute;
  width: 250px;
  top: 15%;
  right: 5%;
}

.billede-hover {
  position: absolute;
  top: 10%;
  right: 5%;
  width: 250px;
  height: 500px;
  background: transparent;
  transition: 2s;
}

.billede-hover:hover {
  background: white;
  opacity: 0.8;
}

.billede-hover::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  background: white;
  width: 100%;
  height: 100%;
  animation: showRight 1s ease forwards;
  animation-delay: 1.6s;
  z-index: 100;
}

.hero-text {
  max-width: 300px;
}

.hero-text h1 {
  position: relative;
  font-family: house;
  font-size: 2.5rem;
  font-weight: 700;
  margin-top: 100px;
}

.hero-text h1::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  background: white;
  width: 100%;
  height: 100%;
  animation: showRight 1s ease forwards;
  animation-delay: 0.4s;
}

@keyframes showRight {
  100% {
    width: 0;
  }
}

.hero-text h3 {
  position: relative;
  font-size: 1.5rem;
}

.hero-text h3::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  background: white;
  width: 100%;
  height: 100%;
  animation: showRight 1s ease forwards;
  animation-delay: 0.7s;
}

.hero-text p {
  position: relative;
  margin: 20px 0 70px;
  line-height: 1.5rem;
  hyphens: auto;
}

.hero-text p::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  background: white;
  width: 100%;
  height: 100%;
  animation: showRight 1s ease forwards;
  animation-delay: 1s;
}

.hero_wrapper .btn-box {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 500px;
  height: 50px;
  margin-left: 35px;
}

.btn-box a {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 240px;
  height: 100%;
  font-size: 19px;
  border: solid black 2px;
  border-radius: 25px;
  text-decoration: none;
  color: black;
  letter-spacing: 1px;
  z-index: 1;
  overflow: hidden;
  transition: 0.5s;
}

.hero_wrapper .btn-box::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  background: white;
  width: 100%;
  height: 100%;
  animation: showRight 1s ease forwards;
  animation-delay: 1.3s;
  z-index: 2;
}

.btn-box a:nth-child(1) {
  background: #ffff0f;
}

.btn-box a:hover {
  color: white;
}

.btn-box a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: black;
  z-index: -1;
  transition: 0.5s;
}

.btn-box a:hover::before {
  width: 100%;
}

.about-wrapper {
  z-index: 1;
  min-height: 40vh;
  color: #fff;
  background-color: #050505;
  border-top-left-radius: 0.6rem;
  border-top-right-radius: 0.6rem;
  margin-top: 100px;
  padding: 0 15px 30px 15px;
}

.about-headline {
  color: white;
  font-size: 2.5rem;
  padding-top: 30px;
  font-family: "Inter", sans-serif;
}

.about-content p {
  color: white;
  font-size: 1.2rem;
  letter-spacing: 1px;
  line-height: 2rem;
  margin-top: 30px;
  margin-bottom: 50px;
  hyphens: auto;
}

.about-wrapper a {
  text-decoration: none;
  color: black;
  background-color: #f9f871;
  padding: 10px 20px;
  border-radius: 25px;
  font-size: 1.1rem;
}

.about-wrapper a:hover {
  background-color: #f8f81e;
}

.project-headline {
  padding-top: 30px;
  padding-bottom: 30px;
  background: white;
}

.project-headline h1 {
  font-size: 2.5rem;
  font-family: "Inter", sans-serif;
}

.project-wrapper {
  margin-bottom: 50px;
}

.project_2,
.project_3,
.project_4,
.project_5,
.project_6 {
  color: #050505;
  padding: 30px 15px;
}

.project_2 {
  background: #f2fedc;
}

.project_3,
.project_5 {
  background-color: #fbfaf0;
}

.project_4 {
  background-color: #f9f871;
}

.project_6 {
  background-color: #aeac9a;
  margin-bottom: 100px;
}

.project_2 h2,
.project_3 h2,
.project_4 h2,
.project_5 h2,
.project_6 h2 {
  font-size: 2rem;
  padding-top: 30px;
  padding-bottom: 30px;
}

.project_2 p,
.project_3 p,
.project_4 p,
.project_5 p,
.project_6 p {
  font-size: 1.2rem;
  margin-bottom: 30px;
  /* line-height: 2rem; */
  hyphens: auto;
}

.project_2 a,
.project_3 a,
.project_4 a,
.project_5 a,
.project_6 a {
  text-decoration: none;
  color: black;
  background-color: white;
  padding: 10px 20px;
  border-radius: 25px;
  border: #050505 1px solid;
  font-size: 1.1rem;
}

.project_2 a:hover,
.project_3 a:hover,
.project_4 a:hover,
.project_5 a:hover,
.project_6 a:hover {
  background: black;
  color: white;
}

/*-----------FOOTER-----------*/
.footer-wrapper {
  text-align: center;
  background: black;
  padding-top: 50px;
  min-height: 40vh;
  border-top-left-radius: 0.6rem;
  border-top-right-radius: 0.6rem;
}

.footer-headline {
  font-family: house;
  color: white;
  margin: 0 auto;
  font-size: 2rem;
}

.footer-content {
  margin-top: 70px;
}

.footer-content a {
  text-decoration: none;
  padding: 10px 20px;
  background: white;
  border-radius: 5px 0px 5px 5px;
  color: black;
}

.footer-content a:hover {
  background: #f9f871;
  transition: 0.4ms;
  text-decoration: underline;
}

/*-----------PORTFOLIO-----------*/

#headline {
  margin-top: 100px;
}

/*-----------PROJEKTER-----------*/
.animation-scroll {
  min-height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cards {
  display: flex;
}

.cards .text_card {
  padding: 10px;
}

@media (max-width: 900px) {
  .cards {
    flex-direction: column;
    flex-flow: wrap;
    justify-content: center;
  }
}

.introduktion-wrapper-2,
.introduktion-wrapper-3,
.introduktion-wrapper-4,
.introduktion-wrapper-5,
.introduktion-wrapper-6 {
  margin: 100px 0px 30px 0px;
  padding: 80px 15px 80px 15px;
}

.introduktion-wrapper-2 {
  background: #f2fedc;
}

.introduktion-wrapper-2 h3,
.introduktion-wrapper-3 h3,
.introduktion-wrapper-4 h3,
.introduktion-wrapper-5 h3,
.introduktion-wrapper-6 h3 {
  color: black;
}

.introduktion-wrapper-3,
.introduktion-wrapper-6 {
  background: #fbfaf0;
}

.introduktion-wrapper-4 {
  background: #f9f871;
}

.introduktion-wrapper-5 {
  background: #aeac9a;
}

.introduktion-wrapper-2 h1,
.introduktion-wrapper-3 h1,
.introduktion-wrapper-4 h1,
.introduktion-wrapper-5 h1,
.introduktion-wrapper-6 h1 {
  color: black;
  margin-bottom: 20px;
  font-family: "Inter", sans-serif;
}

.div_flex {
  display: flex;
  max-width: 800px;
  margin: 50px auto;
  padding: 24px 20px 40px;
  flex-wrap: wrap;
}

.div_flex p {
  hyphens: auto;
  line-height: 1.7rem;
}

.row {
  display: flex;
  width: 100%;
  margin-bottom: 8px;
  padding-bottom: 8px;
  align-items: stretch;
  border-bottom: 1.5px solid black;
}

.opgave {
  width: 25%;
  flex: 0 0 auto;
  color: black;
  font-weight: bold;
}

.con_3 {
  margin: 50px 20px 30px 20px;
}

.con_3 p,
ul li {
  line-height: 1.7rem;
  hyphens: auto;
}

.color {
  background: #fbfaf0;
}

.div_links {
  display: flex;
  flex-direction: column;
}

.div_links a {
  color: black;
  text-decoration: none;
  text-align: center;
  margin-bottom: 20px;
  font-size: 1.5rem;
}

.div_links a:hover,
.back:hover {
  text-decoration: underline;
}

#scrollTopBtn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 99;
  font-size: 20px;
  text-decoration: none;
  padding: 10px;
  background-color: white;
  color: black;
  border-radius: 25px;
  border: black 1px solid;
}

#scrollTopBtn:hover {
  background-color: black;
  color: white;
}

/* Styling til ankerpunktet på toppen */
#top {
  display: block;
  position: relative;
  top: 0;
  left: 0;
  visibility: hidden;
}

/*-----------CV-----------*/
.column_2_1 {
  margin: 100px 15px 50px 15px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.column_2_1 h1 {
  font-family: house;
}

.column_2 {
  margin-left: 15px;
  margin-right: 15px;
}

.grid_col_2 {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 30px;
}

.about,
.kompetencer {
  margin-bottom: 40px;
}

.about p,
li {
  line-height: 1.5rem;
  hyphens: auto;
}

hr {
  margin-top: 5px;
}

.line {
  border: 1px solid black;
  margin-bottom: 15px;
}

.edu_con {
  margin-bottom: 30px;
}

.software-evner {
  display: flex;
  flex-direction: column;
}

.evne {
  margin-bottom: 15px;
  align-self: center;
}

.evne p {
  margin: 5px 0;
}

.færdighedsbjælke {
  width: 200px;
  height: 15px;
  background-color: rgb(224, 224, 224);
  border-radius: 5px;
}

.niveau {
  height: 100%;
  border-radius: 5px;
}

.niveau-1 {
  width: 20%;
  background-color: #aeac9a;
}

.niveau-2 {
  width: 90%;
  background-color: #aeac9a;
}

.niveau-3 {
  width: 40%;
  background-color: #aeac9a;
}

.niveau-4 {
  width: 80%;
  background-color: #aeac9a;
}

.niveau-5 {
  width: 40%;
  background-color: #aeac9a;
}

.niveau-6 {
  width: 30%;
  background-color: #aeac9a;
}

.niveau-7 {
  width: 25%;
  background-color: #aeac9a;
}
