@media (min-width: 800px) {
  /* --------FORSIDE-------- */

  /* padding på navigation container */
  header .container {
    padding: 20px 30px;
  }

  /* hero section fylder hele viewport (fylder hele skærmen)   */
  .hero_wrapper {
    height: 100vh; /*viewport height sat til 100, så det fylder ikke skærmen */
    padding: 0 5%; /*luft på hver side*/
  }

  /* størrelsen og placering af hero billede */
  .billede {
    width: 600px;
    top: 10%; /*10% fra toppen af skærmen*/
    right: 5%; /*5% procent fra højre side af skærmen*/
  }
  /* størrelse og placering af den kasse som skal ligge ovenpå billedet */
  .billede-hover {
    top: 10%;
    right: 5%;
    width: 600px;
    height: 800px;
  }

  /* størrelse på text container  */
  .hero-text {
    max-width: 650px;
  }

  /* stil af hero sektion h1 */
  .hero-text h1 {
    font-size: 6rem;
    font-weight: 700;
  }

  /* stil af hero sektion h3 */
  .hero-text h3 {
    font-size: 2rem;
  }

  /* stil af hero sektion p */
  .hero-text p {
    margin: 20px 0 40px;
  }

  /* knapperne skal være på linje med resten af teksten  */
  .hero_wrapper .btn-box {
    margin-left: 0;
  }

  /* Temaer og projekter */

  /* stil af h1 */
  .project-headline h1 {
    font-size: 3.5rem;
    margin-left: 180px;
    margin-top: 30px;
  }

  /* projekt kasserne skal deles op i to, hvor der på den ene side skal være billede og anden side tekst */
  .project_2,
  .project_3,
  .project_4,
  .project_5,
  .project_6 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 25px;
    padding-left: 100px;
    min-height: 70vh; /*fylder 70% af viewport height*/
    align-items: center; /*elementerne placeres i midten af boksen*/
    margin: 50px 200px;
  }

  .project_content h2 {
    font-size: 24px;
  }

  .project_content p {
    max-width: 500px;
    margin-bottom: 50px;
  }

  .project_content a {
    font-size: 16px;
  }

  /* --------FOOTER-------- */

  /* højde på footer */
  .footer-wrapper {
    min-height: 50vh;
  }

  /* stil af footer h2 */
  .footer-headline {
    font-size: 6rem;
    padding: 30px 40px;
    margin-top: 70px;
  }

  /* font størrelse på linket  */
  .footer-content a {
    font-size: 2rem;
  }

  /* --------PROJEKTER-------- */

  /* stil af overskrift boks  */
  .introduktion-wrapper-2,
  .introduktion-wrapper-3,
  .introduktion-wrapper-4,
  .introduktion-wrapper-5,
  .introduktion-wrapper-6 {
    padding-left: 100px;
  }

  .introduktion-wrapper-2 h1,
  .introduktion-wrapper-3 h1,
  .introduktion-wrapper-4 h1,
  .introduktion-wrapper-5 h1,
  .introduktion-wrapper-6 h1 {
    font-size: 3.5rem;
  }

  .introduktion-wrapper-2 h3,
  .introduktion-wrapper-3 h3,
  .introduktion-wrapper-4 h3,
  .introduktion-wrapper-5 h3,
  .introduktion-wrapper-6 h3 {
    font-size: 1.5rem;
  }

  /* max bredde på hvor meget temabeskivelse kasse på fylde  */
  .div_flex {
    max-width: 1000px;
    padding: 0;
  }

  /* farve på specifik container på siden */
  .color {
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 30px;
  }

  /* størrelse på overskrift til afsnit i projekterne */
  .con_1 h1 {
    font-size: 2.5rem;
  }

  .con_2 {
    margin: 100px 400px;
    grid-template-columns: 1fr 2fr;
  }

  .con_3 {
    margin: 40px 500px 30px 500px;
  }

  .div_links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 50px 100px;
    font-size: 1.5rem;
  }

  .animation-scroll {
    margin: 0 200px;
  }

  .small {
    max-width: 450px;
  }

  .bert_test {
    max-height: 450px;
  }

  /* --------CV-------- */
  .col_container {
    margin: 200px 250px 100px 250px;
  }

  .column_2_1 {
    grid-template-columns: 1fr 2fr;
  }

  .column_2_1 img {
    max-width: 300px;
  }

  .column_2_1 h1,
  .column_2_1 h4 {
    padding-left: 50px;
  }

  .column_2_1 h1 {
    font-size: 2rem;
    font-family: house;
  }

  .column_2 {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 100px;
  }

  .grid_col_2 {
    display: grid;
    grid-template-columns: 1fr 2fr;
  }

  .about {
    margin-bottom: 40px;
  }

  .kompetencer {
    margin-bottom: 40px;
  }

  .black {
    color: black;
  }

  .line {
    border: 1px solid black;
  }

  .evne {
    align-self: flex-start;
  }

  /* --------PORTFOLIO-------- */

  .project-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    margin: 0 50px 50px;
  }

  .grid {
    min-height: unset;
    padding-left: 20px;
    padding-right: 20px;
    transition: transform 0.3s; /*overgangseffekt */
    margin: 0;
  }

  .grid:hover {
    transform: scale(1.02);
  }

  #headline {
    margin: 130px 0px 50px 50px;
  }

  /* --------FOOTER-------- */
  .footer-headline {
    font-size: 4rem;
  }
}
